@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components
<FluentLayout>
    <FluentHeader>
        Developer Tools
    </FluentHeader>

    <FluentBodyContent>
        <FluentStack Orientation="Orientation.Horizontal" Style="width: 100%; min-width: 0; min-height: 100dvh; align-items: stretch;">
            <NavMenu></NavMenu>
            <article class="content px-4" style="flex: 1 1 auto; min-width: 0;">
                @Body
            </article>
        </FluentStack>
    </FluentBodyContent>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
